<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Line Chart</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
  <script language="JavaScript" src='line_chart.js'></script>
</head>
<body onload="displaySelected();">
    <h1>Average temperature per floor</h1>

    <div>
        <select id='select_stat' multiple onchange="displaySelected();">
            <option value="SUPPLY FAN OUTLET Temperature" selected>SUPPLY FAN OUTLET Temperature</option>
            <option value="Power" selected>Power</option>
            <option value="SUPPLY FAN:Fan Power" selected>SUPPLY FAN:Fan Power</option>
            <option value="Thermostat Heating Setpoint" selected>Thermostat Heating Setpoint</option>
            <option value="Thermostat Temp" selected>Thermostat Temp</option>
            <option value="REHEAT COIL Power" selected>REHEAT COIL Power</option>
            <option value="AIR LOOP INLET Temperature" selected>AIR LOOP INLET Temperature</option>
            <option value="SUPPLY INLET Temperature" selected>SUPPLY INLET Temperature</option>
            <option value="HEATING COIL Power" selected>HEATING COIL Power</option>
            <option value="Outdoor Air Flow Fraction" selected>Outdoor Air Flow Fraction</option>
            <option value="Mechanical Ventilation Mass Flow Rate" selected>Mechanical Ventilation Mass Flow Rate</option>
            <option value="VAV REHEAT Damper Position" selected>VAV REHEAT Damper Position</option>
            <option value="Outdoor Air Mass Flow Rate" selected>Outdoor Air Mass Flow Rate</option>
            <option value="VAV Availability Manager Night Cycle Control Status" selected>VAV Availability Manager Night Cycle Control Status</option>
            <option value="Lights Power" selected>Lights Power</option>
            <option value="COOLING COIL Power" selected>COOLING COIL Power</option>
            <option value="Equipment Power" selected>Equipment Power</option>
            <option value="Thermostat Cooling Setpoint" selected>Thermostat Cooling Setpoint</option>
            <option value="SUPPLY FAN OUTLET Mass Flow Rate" selected>SUPPLY FAN OUTLET Mass Flow Rate</option>
            <option value="RETURN OUTLET CO2 Concentration" selected>RETURN OUTLET CO2 Concentration</option>
            <option value="AIR LOOP INLET Mass Flow Rate" selected>AIR LOOP INLET Mass Flow Rate</option>
            <option value="SUPPLY INLET Mass Flow Rate" selected>SUPPLY INLET Mass Flow Rate</option>
        </select>
    </div>
    
    <div id="SUPPLY FAN OUTLET Temperature div"><canvas id="SUPPLY FAN OUTLET Temperature" height="450" width="800"></canvas></div>
    <div id="Power div"><canvas id="Power" height="450" width="800"></canvas></div>
    <div id="SUPPLY FAN:Fan Power div"><canvas id="SUPPLY FAN:Fan Power" height="450" width="800"></canvas></div>
    <div id="Thermostat Heating Setpoint div"><canvas id="Thermostat Heating Setpoint" height="450" width="800"></canvas></div>
    <div id="Thermostat Temp div"><canvas id="Thermostat Temp" height="450" width="800"></canvas></div>
    <div id="REHEAT COIL Power div"><canvas id="REHEAT COIL Power" height="450" width="800"></canvas></div>
    <div id="AIR LOOP INLET Temperature div"><canvas id="AIR LOOP INLET Temperature" height="450" width="800"></canvas></div>
    <div id="SUPPLY INLET Temperature div"><canvas id="SUPPLY INLET Temperature" height="450" width="800"></canvas></div>
    <div id="HEATING COIL Power div"><canvas id="HEATING COIL Power" height="450" width="800"></canvas></div>
    <div id="Outdoor Air Flow Fraction div"><canvas id="Outdoor Air Flow Fraction" height="450" width="800"></canvas></div>
    <div id="Mechanical Ventilation Mass Flow Rate div"><canvas id="Mechanical Ventilation Mass Flow Rate" height="450" width="800"></canvas></div>
    <div id="VAV REHEAT Damper Position div"><canvas id="VAV REHEAT Damper Position" height="450" width="800"></canvas></div>
    <div id="Outdoor Air Mass Flow Rate div"><canvas id="Outdoor Air Mass Flow Rate" height="450" width="800"></canvas></div>
    <div id="VAV Availability Manager Night Cycle Control Status div"><canvas id="VAV Availability Manager Night Cycle Control Status" height="450" width="800"></canvas></div>
    <div id="Lights Power div"><canvas id="Lights Power" height="450" width="800"></canvas></div>
    <div id="COOLING COIL Power div"><canvas id="COOLING COIL Power" height="450" width="800"></canvas></div>
    <div id="Equipment Power div"><canvas id="Equipment Power" height="450" width="800"></canvas></div>
    <div id="Thermostat Cooling Setpoint div"><canvas id="Thermostat Cooling Setpoint" height="450" width="800"></canvas></div>
    <div id="SUPPLY FAN OUTLET Mass Flow Rate div"><canvas id="SUPPLY FAN OUTLET Mass Flow Rate" height="450" width="800"></canvas></div>
    <div id="RETURN OUTLET CO2 Concentration div"><canvas id="RETURN OUTLET CO2 Concentration" height="450" width="800"></canvas></div>
    <div id="AIR LOOP INLET Mass Flow Rate div"><canvas id="AIR LOOP INLET Mass Flow Rate" height="450" width="800"></canvas></div>
    <div id="SUPPLY INLET Mass Flow Rate div"><canvas id="SUPPLY INLET Mass Flow Rate" height="450" width="800"></canvas></div>
</body>
</html>