<!DOCTYPE html>
<meta charset="utf-8">

<head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title>Zone changes Per Floor changes for average representative of departments</title>

    <script src="https://d3js.org/d3.v4.js"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'charts/bubble_chart.css' %}">
    <!-- Load color scale -->
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <!-- A bit of CSS: change stroke color of circle on hover (white -> black) -->
    <style>
        .bubbles {
            stroke-width: 2px;
            stroke: white;
        }
        .bubbles:hover {
            stroke: black;
        }
    </style>
</head>


<body>
<div><nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">InfoVis</a>
            </div>
            <ul class="nav navbar-nav">
              <li><a href="/charts">Home</a></li>
              <li><a href="/charts/prox_chart">Prox</a></li>
              <li><a href="/charts/energy_chart">Energy</a></li>
              <li class="active"><a href="#">Zone Change</a></li>
            </ul>
          </div>
    </nav></div>
<div>
    <h1>Zone changes/Floor changes for average representative of each department</h1>
    </div>
<p>drag sliders to see the charts</p>
<div>
<div class = "slideContainer">
    <input type="range" min="0" max="10000" value="0" id = "myRange" class = "slider">
    <p>Start Date: <span id="startDate"></span></p>
</div>

<div class = "slideContainer2">
    <input type="range" min="0" max="10000" value="10000" id = "myRange2" class = "slider2">
    <p>End Date: <span id="endDate"></span></p>
</div>
    {% load static %}
<script src="{% static 'charts/bubble_chart.js' %}"></script>
</div>


</body>